 <!-- Footer -->
 <footer>
    <section id="futer_info">
        <!-- Artikli u futeru -->
        <article class="info_fut">
            <h2>Socials</h2>
            <ul>
                <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
                <li><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
            </ul>
        </article>
        <article class="info_fut">
            <h2>Policy</h2>
                <ul>
                    <li>Shipping & Returns </li>
                    <li>Terms & Conditions</li>
                    <li>Payment Methods </li>
                    <li>FAQ</li>
                </ul>
        </article>
        <article class="info_fut">
            <h2>Opening Hours</h2>
            <ul>
                <li>Mon - Fri: {{WeekWork | firstUpper}}</li>
                <li>​​Saturday: {{WkndWork | firstUpper}}</li>
                <li>Sunday: {{WkndWork | firstUpper}}</li>
            </ul>
        </article>
        <article class="info_fut">
            <h2>Store Location</h2>
            <ul>
                <li>500 Terry Francois Street</li>
                <li>San Francisco, CA 94158</li>
                <li>info@mysite.com</li>
            </ul>
        </article>
    </section>
    <section id="autor_prava">
        <h5>&#169;{{Date | date:'y'}} by {{Author}}</h5>
    </section>
    <!-- Artikli u futeru -->
</footer>
<!-- Kraj Futera -->
