.touch{
    width: 100%;
    color: white;
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
        h1{
            font-size: 40px;
            letter-spacing: 1px;
        }

}
.touch1{
    color: black;
    background-color: white;
}

