.touch{
    width: 100%;
    color: white;
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
        h1{
            font-size: 40px;
            letter-spacing: 1px;
        }

}
.touch1{
    color: black;
    background-color: white;
}
#pitanja_odgovori{
    width:100%;
    background-color: white;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 60px;
        .drzac_odgovora{
            width: 60%;
            background-color: #e9e6e6;
            margin-top: 2%;
                .pitanje_odg{
                    width:100%;
                    height: auto;
                    padding-top: 20px;
                    
                        h2{
                            margin-bottom: 20px;
                            margin-left: 20px;
                        }
                        .odgovor{
                            background-color: white;
                            width: 100%;
                            padding-top: 3%;
                                p{
                                    text-indent: 40px;
                                    font-size: 18px;
                                }
                        }
                }
        }
}